html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(27,31,36);
    margin: 25px;
    font-family: "Mona Sans","Mona Sans Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    /* font-family: monospace; */
    display: flex; 
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

a {
    text-decoration: none;
}

#home {
    /* height: 100vh; */
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* color: #F5F5F5; */
}

.nav {
    left: 5%;
    top: 25%;
    display: flex;
    flex-direction:column;
    align-items: center;
    position: fixed;
    z-index: 3;
}

.nav-item {
    display: flex;
    font-weight: bold;
    /* flex-direction: row; */
    justify-content: center;
    width: fit-content;
    color: #F5F5F5;
    font-size: xx-large;
    font-size: 30px;
    /* font-weight: bold; */
    /* display: block; */
    padding: 20%;
    transition: .2s;
    background-image: linear-gradient(90deg, rgb(113, 113, 113), #F5F5F5);
    background-position: 0% 0%; 
    background-clip: text;
    -webkit-background-clip: text;
    gap: 5px;
    /* color: transparent; */
}

.indic {
    width: 3px;
    height: 30px;
    /* height: ; */
    /* top: 50%; */
    background-color: #F5F5F5;
    align-self: center;
    opacity: 0;
    transition: all .5s ease-in;
}

.active {
    border-bottom: 1px solid #F5F5F5;
    transition: .15s;
}

.nav:hover .nav-item {
    opacity: .25;
    transform: scale(1.1, 1.1);
}



.nav:hover .nav-item:hover {
    opacity: 1;
    cursor: pointer;
}



.nav:hover ~ .indicator {
    opacity: .5;
    background-size: 2vmin 2vmin;
} 



.contentainer {
    transition: .25s;
    /* width: ; */
}


.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    width: 75vw;
    margin-left: 10%;
}

/* #about, #projects, #home {
    scroll-snap-align: start;
} */

.prof-pic {
    /* filter: blur(10px); */
    height: auto;
    width: auto;
    transform: scale(.85,.85);
    opacity: 1;
    z-index: 2;
    transition: .2s;
    border-radius: 3%;
}

.prof-para {
    font-weight:lighter;
    font-size: small;
    height: 300px;
    color: white;
    transition: .2s;
    font-size: large;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.btn-wrap {
    width: 150px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid wheat; */
    transform: translateY(35px);
}

.prof-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 50px;
    background-image: linear-gradient(to right, transparent 50%, rgb(227, 227, 227) 50%);
    padding: 2%;
    border: 1px solid #F5F5F5;
    box-shadow: 0px 6px 6px;
    display: flex;
    z-index: 2;
    transition: all .35s ease;
    color: #ffffff;
    font-size: large;
    opacity: .35;
    text-transform: uppercase;
    text-align: center;
    background-size: 250%;
    background-position: 0%;
}

.btn-wrap:hover .prof-button {
    transform: translateY(-10px);
    background-position: 95%;
    color: #000000;
    cursor: pointer;
    opacity: 1;
}
/* .prof-button:hover {
    transform: translateY(25px);
    background-position: 95%;
    color: #000000;
    cursor: pointer;
    opacity: 1;
}  */


.fade {
    opacity: 0;
    filter: blur(5px);
    transition: all .75s;
    /* transition-delay: .65s; */
    transform: translateX(100px);
}


.fadeIn {
    filter: blur(0px);
    opacity: 1;
    transform: translateX(0);
}


#about-para {
    width: 800px;
    font-size: large;
}

.about-nav {
    width: 800px;
    display: flex;
    justify-content: space-evenly;
}

.about-nav a {
    color: #F5F5F5;
    z-index: 2;
    /* cursor: default; */
}

.sect {
    display: flex;
    justify-content: space-evenly;
    width: 25vw;
}

.botitem {
    color: #F5F5F5;
    cursor: pointer;
    transition: .35s ease;
    margin: 3px;
}

.bot-icon {
    cursor: default;
}

.botitem:hover {
    opacity: .55;
    transform: scale(1.1);
    /* filter: invert(); */
}

.nav:hover ~ .contentainer {
    filter: blur(2px);
    opacity: .65;
    transform: scale(.975, .975);
}

.nav:hover ~ .prof-para {
    opacity: .5;
    transform: scale(.975, .975);
}


.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    align-items: center;
    justify-content: center;
}

.card {
    width: 250px;
    height: 250px;
    border-radius: 6px;
    /* box-shadow: 1px 1px 1px 1px rgb(0, 0, 0); */
    /* transition: all .2s ease; */
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow:hidden;
}
.card p {
    font-size: 11px;
}
.card:hover {
    /* box-shadow: 0px 1px 1px rgb(80,80,80); */
    /* transform: translateY(-25px); */
    /* box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 20px 40px 15px rgba(34, 32, 59, 0.3), 0px 20px 40px 15px rgba(215, 158, 158, 0.4); */
    opacity: 1;
}

.card:hover .proj-img {
    opacity: .1;
    transform: scale(1);
}

.card:hover .fack {
    opacity: 1;
    /* transform: scale(.95); */
} 

.front {
    /* perspective: 1500px; */
    /* overflow: hidden; */
    transform-style: preserve-3d;
    scale: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fack {
    /* perspective: 1000px; */
    transform-style: preserve-3d;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 75%;
}



/* add transition delay for card:nth child increasing with n  */




/* .crd-cont:hover > .card {
    transform: rotateY(180deg);
} */

.crd-cont {
    perspective: 1000px;
    transform-style: preserve-3d;
}

.proj-img {
    transition: .3s ease;
    box-sizing: border-box;
    width: 100%;
    height: 220px;
    border-radius: 6px;
    transform: scale(1.2);
}

.front, .back {
    /* position: absolute; */
    /* backface-visibility: hidden; */
    transition: .25s ease;
}

/* 
.front:hover > .card {
    /* transform: ; */
    /* opacity: 1; */
    /* transform: translateY(-10px); */
    /* transform: rotate(180deg); */
    /* transform: scale(1.05); */
/* }  */

.back {
    transform: rotateY(180deg);
    display: hidden;
}


/* #more {
    /* background-color: #F5F5F5;	 */
    /* z-index: 2; */
/* }  */

.vid {
    color: rgb(255, 255, 255);
    background-color:rgb(27,31,36);
    /* border: 1px solid #F5F5F5; */
    width: 95%;
    height: 85%;
    font-size: larger;
    text-align: center;
}

#mob-head {
    display: none;
}

@media (max-width: 600px) {
    body {
        overflow: scroll;
    }

    #home, #about, #projects {
        width: 95vw;
    }

    #home {
        display: flex;
        flex-direction: column;
    }

    .prof-pic {
        /* width: 150px;
        height: 100px; */
        transform: scale(.65);

    }

    

    .nav {
        display: none;
    }

    #about-para {
        width: 75vw;
    }

    .about-nav {
        display: block;
        width: 75vw;
        font-size: x-small;
        /* justify-content: center; */
        /* align-items: center; */
    }

    .sect {
        margin-left: auto;
        margin-right: auto;
    }

    .bot-icon, .botitem {
        padding: 5px;
        margin-bottom: 10px;
    }

    .content {
        height: 100vh;
        width: 85vw;
        margin-bottom: 100px;
    }

    .prof-para {
        font-size: small;
    }

   .card {
       width: 150px;
       height: 150px;
   }


   .grid {
       position: relative;
       display: block;
       transform: translateY(200px);
   }

   .card {
       width: 75vw;
       /* padding-top: 50px; */
       margin-bottom: 50px;
       height: 20vh;
   }

   .proj-img {
       width: 75vw;
       opacity: .1;
   }

   .fack {
       opacity: 1;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   #mob-head {
       display: flex;
       transform: translateY(175px);
   }
}